target/
.classpath
.project
.settings
*.swp
test-output
.idea
*.iml
.metadata
*.ipr
bin/
**/*maven-eclipse.xml
**/*externalToolBuilders
**/node_modules
**/dist
*.log
.vagrant/
.factorypath
.sts4-cache
*.keystore
rebel.xml
rebel-remote.xml
*.rebel*
/.flattened-pom.xml
